@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
form,
input,
textarea {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  color: $color-bandsite-black;
  line-height: 1.5;
}

h1 {
  @include typography(2.25rem, $weight-bold, 2.125rem);
  color: $color-white;

  @include tablet {
    @include typography(2.25rem, $weight-bold, 2rem);
  }
  @include desktop {
    @include typography(2.25rem, $weight-bold, 2rem);
  }
}

h2 {
  @include typography(1.5rem, $weight-bold, 2rem);
  margin-bottom: $spacing-md;

  @include tablet {
    @include typography(1.5rem, $weight-bold, 2rem);
  }
  @include desktop {
    @include typography(1.5rem, $weight-bold, 2rem);
  }
}

p {
  @include typography(0.875rem, $weight-regular, 1.375rem);
  margin-bottom: $spacing-md;

  @include tablet {
    @include typography(0.875rem, $weight-regular, 1.375rem);
  }

  @include desktop {
    @include typography(0.875rem, $weight-regular, 1.375rem);
  }
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 $spacing-sm;
}

a {
  text-decoration: none;
  color: $color-mercury;
  transition: color 0.3s ease;

  &:hover {
    color: $color-white;
  }
}

.header {
  background-color: $color-bandsite-black;
  @include flexcustom(column, normal, normal);
  padding-top: $mobile-padding-before-headline;

  @include tablet {
    @include flexcustom(row, normal, center);
    gap: calc($spacing-xs * 3.5);
    padding: 0 0 0 $spacing-md;
  }

  @include desktop {
    padding: 0 0 0 $spacing-xl;
  }
}

.navbar {
  &__items {
    @include flexcustom(row, space-around, normal);
    height: 2.5rem;
    list-style-type: none;

    @include tablet {
      gap: calc($spacing-xs * 3.5);
      height: 4rem;
    }

    @include desktop {
      height: 5rem;
    }
  }

  &__tab {
    @include flexcustom(row, center, center);
    width: 100%;

    &--active {
      border-top: 3px transparent solid;
      border-bottom: 3px $color-white solid;
      color: $color-white;
      font-weight: $weight-medium;

      & .nav__link {
        color: $color-white;
      }
    }

    &:hover {
      border-top: 3px transparent solid;
      border-bottom: 3px $color-white solid;
    }
    &:hover .nav__link {
      color: $color-white;
    }

    &:active .nav__link {
      font-weight: $weight-medium;
    }
  }

  &__link {
    color: $color-mercury;
    text-decoration: none;
  }
}

.headerLabel {
  color: $color-white;
  font-weight: $weight-medium;
  line-height: 1.25rem;

  &--mobile {
    margin-bottom: 0.5rem;
    @include tablet {
      display: none;
    }
  }

  &--tablet {
    display: none;
    @include tablet {
      @include flexcustom(row, flex-start, center);
      flex: 1;
      max-width: 33%;
    }
  }
}

.button {
  @include flexcustom(column, center, center);
  padding: 0 $spacing-md;
  min-width: 9.375rem;
  height: 40px;
  border-radius: 4px;
  background-color: $color-bandsite-black;
  font-weight: $weight-medium;
  line-height: 1.125rem;
  color: $color-white;

  @include tablet {
    @include flexcustom(row, center, center);
    flex: 1;
    max-width: 25%;
  }

  &:hover {
    background-color: $color-bandsite-black;
  }
}

.logo {
  &--navbar {
    @include flexcustom(row, center, center);
  }

  &--footer-tablet {
    display: none;

    @include tablet {
      position: absolute;
      top: 10px;
      right: 0;
      display: inline-block;
      width: 7.5rem;
      height: 1.25rem;
      @include logo;
    }
  }

  &--footer-mobile {
    margin-top: $spacing-sm;
    width: 7.5rem;
    height: 1.25rem;
    @include logo;

    @include tablet {
      display: none;
    }
  }

  &__link {
    width: 7.5rem;
    height: 1.25rem;
    @include logo;
  }
}

.hero {
  position: relative;
  @include flexcustom(column, center, normal);
  gap: $spacing-xs;
  padding: 0 $spacing-xs;

  @include tablet {
    padding: 0 $spacing-md;
  }

  @include desktop {
    padding: 0 $spacing-xl;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-bandsite-black;
    opacity: 50%;
  }

  &__title {
    position: relative;
    z-index: 1;
    color: $color-white;
  }
}

.footer {
  background-color: $color-bandsite-black;
  gap: $spacing-md;
  padding: $spacing-sm $spacing-xs;
  @include flexcustom(column, normal, normal);

  @include tablet {
    padding: $spacing-lg $spacing-md;
    gap: $spacing-lg;
  }
  @include desktop {
    padding: $spacing-lg $spacing-xl;
  }

  &__header {
    margin-bottom: $spacing-md;
    @include flexcustom(column, normal, normal);
    gap: $spacing-xs;

    @include tablet {
      @include flexcustom(row, normal, baseline);
      gap: $spacing-md;
      position: relative;
    }
  }

  &__title {
    @include typography(1.5rem, $weight-bold, 2rem);

    margin-bottom: $spacing-sm;
    color: $color-white;

    @include tablet {
      @include typography(2.25rem, $weight-bold, 2.75rem);
    }
  }

  &__icon {
    height: 1.5rem;
  }
  &__social {
    @include flexcustom(row, normal, normal);
    gap: $spacing-lg;
  }

  &__social-link {
    @include flexcustom(row, normal, center);
  }

  &__content {
    @include flexcustom(column, normal, normal);
    gap: $spacing-sm;

    @include tablet {
      @include flexcustom(row, space-between, normal);
    }
    @include desktop {
      @include flexcustom(row, normal, normal);
      gap: $spacing-xl;
    }
  }

  &__section {
    @include flexcustom(column, normal, normal);
    @include typography(0.8125rem, $weight-regular, 1.125rem);
    margin-bottom: $spacing-sm;

    @include tablet {
      gap: $spacing-md;
      @include typography(0.875rem, $weight-regular, 1.375rem);
    }
  }
  &__section-title {
    margin: 0;
    color: $color-mercury;
    @include typography(0.875rem, $weight-bold, 1.375rem);
  }

  &__email {
    color: $color-white;
    text-decoration: none;
    margin-top: $spacing-xs;
  }

  &__text {
    color: $color-mercury;
  }

  &__bottom {
    margin-top: $spacing-lg;
    @include flexcustom(column, normal, normal);
  }

  &__copyright {
    color: $color-mercury;
    @include typography(0.625rem, $weight-regular, 1.25rem);
  }
}
