@font-face {
    font-family: "NunitoSans";
    src: url("../assets/fonts/NunitoSans-Regular.ttf") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../assets/fonts/NunitoSans-SemiBold.ttf") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../assets/fonts/NunitoSans-Bold.ttf") format("woff2");
    font-weight: 700;
}
