
$color-bandsite-black: #323232;
$color-dark-black: #000000;
$color-silver: #AFAFAF;
$color-white: #FFFFFF;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;



$font-primary: 'Nunito Sans', sans-serif;


$breakpoint-mobile: 47rem; 
$breakpoint-tablet: 48rem; 
$breakpoint-desktop: 80rem; 





$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;


$spacing-xs: 8px;    
$spacing-sm: 16px;      
$spacing-md: 32px;       
$spacing-lg: 48px;      
$spacing-xl: 80px;       
$spacing-xxl: 100px;   
$spacing-xxxl: 160px;    


$mobile-padding-before-headline: 24px; 
$mobile-padding-after-headline: 16px;     
$mobile-padding-between-components: 16px;


$desktop-padding-before-headline: 48px;   
$desktop-padding-after-headline: 36px; 
$desktop-padding-between-components: 36px; 

