* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
form,
input,
textarea {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #323232;
  line-height: 1.5;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.125rem;
  color: #ffffff;
}
@media (min-width: 48rem) {
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
@media (min-width: 80rem) {
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 48rem) {
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
@media (min-width: 80rem) {
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin-bottom: 2rem;
}
@media (min-width: 48rem) {
  p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
@media (min-width: 80rem) {
  p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #e1e1e1;
  transition: color 0.3s ease;
}
a:hover {
  color: #ffffff;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  padding-top: 1.5rem;
}
@media (min-width: 48rem) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    gap: 1.75rem;
    padding: 0 0 0 2rem;
  }
}
@media (min-width: 80rem) {
  .header {
    padding: 0 0 0 5rem;
  }
}

.navbar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  height: 2.5rem;
  list-style-type: none;
}
@media (min-width: 48rem) {
  .navbar__items {
    gap: 1.75rem;
    height: 4rem;
  }
}
@media (min-width: 80rem) {
  .navbar__items {
    height: 5rem;
  }
}
.navbar__tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar__tab--active {
  border-top: 3px transparent solid;
  border-bottom: 3px #ffffff solid;
  color: #ffffff;
  font-weight: 500;
}
.navbar__tab--active .nav__link {
  color: #ffffff;
}
.navbar__tab:hover {
  border-top: 3px transparent solid;
  border-bottom: 3px #ffffff solid;
}
.navbar__tab:hover .nav__link {
  color: #ffffff;
}
.navbar__tab:active .nav__link {
  font-weight: 500;
}
.navbar__link {
  color: #e1e1e1;
  text-decoration: none;
}

.headerLabel {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.25rem;
}
.headerLabel--mobile {
  margin-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .headerLabel--mobile {
    display: none;
  }
}
.headerLabel--tablet {
  display: none;
}
@media (min-width: 48rem) {
  .headerLabel--tablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    max-width: 33%;
  }
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  min-width: 9.375rem;
  height: 40px;
  border-radius: 4px;
  background-color: #323232;
  font-weight: 500;
  line-height: 1.125rem;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 25%;
  }
}
.button:hover {
  background-color: #323232;
}

.logo--navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo--footer-tablet {
  display: none;
}
@media (min-width: 48rem) {
  .logo--footer-tablet {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    width: 7.5rem;
    height: 1.25rem;
    background-image: url("../assets/logos/Logo-bandsite.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
.logo--footer-mobile {
  margin-top: 1rem;
  width: 7.5rem;
  height: 1.25rem;
  background-image: url("../assets/logos/Logo-bandsite.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 48rem) {
  .logo--footer-mobile {
    display: none;
  }
}
.logo__link {
  width: 7.5rem;
  height: 1.25rem;
  background-image: url("../assets/logos/Logo-bandsite.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
@media (min-width: 48rem) {
  .hero {
    padding: 0 2rem;
  }
}
@media (min-width: 80rem) {
  .hero {
    padding: 0 5rem;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
}
.hero__title {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.footer {
  background-color: #323232;
  gap: 2rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
@media (min-width: 48rem) {
  .footer {
    padding: 3rem 2rem;
    gap: 3rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding: 3rem 5rem;
  }
}
.footer__header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 0.5rem;
}
@media (min-width: 48rem) {
  .footer__header {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: baseline;
    gap: 2rem;
    position: relative;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
  }
}
.footer__icon {
  height: 1.5rem;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  gap: 3rem;
}
.footer__social-link {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }
}
@media (min-width: 80rem) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    gap: 5rem;
  }
}
.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__section {
    gap: 2rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
.footer__section-title {
  margin: 0;
  color: #e1e1e1;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
}
.footer__email {
  color: #ffffff;
  text-decoration: none;
  margin-top: 0.5rem;
}
.footer__text {
  color: #e1e1e1;
}
.footer__bottom {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
.footer__copyright {
  color: #e1e1e1;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.25rem;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Regular.ttf") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-SemiBold.ttf") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Bold.ttf") format("woff2");
  font-weight: 700;
}
.hero {
  height: 18.75rem;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-width: 48rem) {
  .hero {
    height: 29rem;
  }
}
@media (min-width: 80rem) {
  .hero {
    height: 38rem;
  }
}
.hero__album-title {
  position: relative;
  z-index: 1;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .hero__album-title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
}
.hero__title {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 3rem;
}
@media (min-width: 48rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-bottom: 5rem;
  }
}
.hero__player {
  width: 100%;
  max-width: 50rem;
  margin-top: 2rem;
  height: 7rem;
}
@media (min-width: 48rem) {
  .hero__player {
    margin-top: 0.5rem;
    width: 25rem;
  }
}

.shows {
  background-color: #fafafa;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
@media (min-width: 48rem) {
  .shows {
    gap: 0.5rem;
  }
}
@media (min-width: 80rem) {
  .shows {
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.shows__header {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 2rem;
}
.shows__list {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  list-style-type: none;
  max-width: 80rem;
  margin: 0 auto;
}
.shows__item {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  background-color: #ffffff;
  border-bottom: 0.0625rem solid #e1e1e1;
  margin: 2rem;
  padding: 2rem;
  gap: 1rem;
  transition: background-color 0.3s ease;
}
.shows__item:hover {
  background-color: #e1e1e1;
}
.shows__item--selected {
  background-color: #323232;
}
.shows__item--selected .shows__date,
.shows__item--selected .shows__venue-location,
.shows__item--selected .shows__label-secondary {
  color: #ffffff;
}
.shows__item--selected .shows__tickets-btn {
  background-color: #ffffff;
  color: #323232;
}
@media (min-width: 48rem) {
  .shows__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
  }
}
.shows__date {
  font-weight: 700;
  color: #323232;
  margin-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .shows__content-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    flex: 1;
    max-width: 25%;
  }
}
.shows__tickets-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  color: #ffffff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}
@media (min-width: 48rem) {
  .shows__tickets-btn {
    width: auto;
    white-space: nowrap;
  }
}
.shows__tickets-btn:hover {
  background-color: #e1e1e1;
  color: #323232;
}/*# sourceMappingURL=shows.css.map */